@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* navbar css  */
nav {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  position: fixed;
  width: 100%;
  z-index: 1020;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 10px 100px;
  align-items: center;
  text-align: center;
}

.menu_list > ul {
  display: flex;
  list-style-type: none;
}

.menu_list > ul > li {
  padding-left: 15px;
}

.menu_list > ul > li:hover {
  cursor: pointer;
}

/* hero section css    */
.hero {
  width: 100%;
  height: 750px;
  position: relative;
}
.handshak_banner > img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-top: 4rem;
}

/*  TODO: form css is left */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.form_container {
  width: 90%;
  height: 500px;
  max-width: 440px;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 25px;
  border-radius: 8px;
  position: absolute;
  left: 760px;
  top: 270px;
  z-index: 1000;
}

.w-full {
  width: 98%;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

.form_group {
  /* width: 100%; */
  margin-top: 10px;
}

.form_group input {
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
}

.form_group input:focus {
  outline: solid 1px #00cdc6;
}

.displayFlex input:nth-child(1) {
  margin-right: 10px;
}

/* btn next  */
button.next_btn {
  float: right;
  margin-top: 260px;
  padding: 10px 30px;
  background-color: #fff;
  border: 1px solid #00cdc6;
  color: #00cdc6;
  border-radius: 4px;
  cursor: pointer;
}

button.next_btn:hover {
  background-color: #00cdc6;
  border: 1px solid #fff;
  color: #fff;
}

/* btn previous */
button.previous_btn {
  float: left;
  margin-top: 289px;
  padding: 10px 8px;
  background-color: #fff;
  border: none;
  color: rgb(0, 162, 255);
  border-radius: 4px;
  cursor: pointer;
}

button.previous_btn:hover {
  color: black;
  text-decoration: underline;
}

/* btn submit */
button.submit_btn {
  float: right;
  margin-top: 290px;
  padding: 10px 30px;
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button.submit_btn:hover {
  background-color: #00cdc6;
  border: 1px solid #fff;
  color: #fff;
}
/* why KredX section css */
.why_kredX {
  height: 800px;
  padding: 100px 150px 15px 150px;
}

.why_kredX_body_container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
}

.why_kredX_heading {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 400;
  color: #212529;
}
.why_kredX_heading > span {
  color: #00cdc6;
}

.why_kredX_body_container > div {
  max-width: 70%;
  padding: 5px;
}

/* HELPING BUSINESS OWNERS SINCE 2015 = {Stat section} */
.helping_business {
  background: #0d0d0d;
  padding: 55px 150px 45px 150px;
  color: #fff;
}

.helping_business_heading {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.helping_business_container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
}

.helping_business_container > div > p:nth-child(1) {
  color: #fff;
  font-size: 27px;
  letter-spacing: 1.5px;
  margin-bottom: -12px;
}

.helping_business_container > div > p:nth-child(2) {
  color: #00cdc6;
  font-size: 20px;
}

.stat_hr_div {
  padding-top: 50px;
}

hr.stat_hr {
  border: 0.5px solid rgb(53, 53, 53);
}

/* contact us section css */
.contact_section {
  background: #fff;
  padding: 130px 150px 65px 150px;
}
.contact_section > h2 {
  font-weight: 700;
  font-size: 40px;
}

.contact_section p {
  font-size: small;
  letter-spacing: -0.5px;
}

.contact_section a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact_section a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* footer css  */
footer {
  background-color: #0d0d0d;
  color: #fff;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 25px 150px 25px 150px;
  text-align: center;
  align-items: center;
}
.logo_footer > img {
  width: 150px;
  height: 30px;
}
.copyright_text > p {
  font-size: 15px;
}
